# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Logs
logs/
*.log

# Environment Variables
.env

# Python build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db