  
       <link href="{{ url_for('static', filename='cdn/bootstrap.min.css') }}" rel="stylesheet">
       <link href="{{ url_for('static', filename='cdn/dataTables.bootstrap5.min.css') }}" rel="stylesheet">

       <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-12">
                  
              </div>
      
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">

   <div class="row">
<h5 style="float:left; margin-right:20px">Permission not granted!</h5>
</div>
<!--End Right Panel-->
   </div>
</div>


   <style>
    
    .tab-btn { color:#000;}

    .tab-btn.active {
      background: #007bff!important;
      color: #fff!important;
    }

    .left-panel {
  position: -webkit-sticky; 
  position: sticky;
  top: 0; 
  height: 100vh; 
  overflow-y: auto; 
}

.blankH{ height: 300px;}
  </style>


          </div>

        </div>
       