{% extends "base.html" %}
{% block content %}

<style>
    .disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
</style>
<script src="{{ url_for('static', filename='cdn/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='cdn/axios.min.js') }}"></script>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='cdn/datatables.min.css') }}"> -->
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6">
                <!-- <h3 class="mb-0">Risk Register</h3> -->
                  <span style="float:left; margin-right:20px">Change Password</span>
                <!-- Title Icon Start -->
                 <span>
                     <a class="pl-5 navigate plus-icon-color disabled" href="#"><i class="bi bi-plus-lg" ></i></a>
                     <a class="pl-5 edit-icon-color disabled" href="#"><i class="bi bi-pencil-square" data-toggle="tooltip" data-p`lacement="top" title="" style="font-size: 15px;"></i></a>
                     <a class="pl-5 delete-icon-color disabled" href="#"><i class="bi bi-trash" data-toggle="tooltip" data-placement="top" title="" style="font-size: 15px;" data-original-title="Delete"></i></a>
                     <a class="pl-5 export-icon-color disabled" href="#" onclick="downloadExcel()"><i class="bi bi-file-earmark-fill" data-toggle="tooltip" data-placement="top" title="" style="font-size: 15px; " data-original-title="Export"></i></a>
                 </span>

              </div>
              <div class="col-sm-6">
               
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
          <!--Start HR Risk-->
<div id="div1"> 
 <div class="modal-body">
    <div class="row">
      <div class="col-lg-6">
    <div class="row mb-3">
  <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Old Password<span class="star">*</span></label>
  <div class="col-sm-8">
    <input type="password" class="form-control form-control-sm" id="oldpassword" placeholder="Old Password">
  </div>
  </div>
      </div>

      <div class="col-lg-6">
    <div class="row mb-3">
  <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">New Password <span class="star">*</span></label>
  <div class="col-sm-8">
    <input type="password" class="form-control form-control-sm" id="newpassword" placeholder="New Password" maxlength="10" pattern="\d{10}">
  </div>
  </div>
      </div>

      <div class="col-lg-6">
    <div class="row mb-3">
  <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Confirm Password<span class="star">*</span></label>
  <div class="col-sm-8">
  <input type="password" class="form-control form-control-sm" id="confirmpassword" placeholder="Confirm Password" maxlength="10" pattern="\d{10}">
  </div>
  </div>
      </div>
        <div style="text-align: right!important;">
        <!-- <button id="btn_save" class="btn btn-primary text-white" type="button" onclick="save()">Proceed</button> -->
        <button class="btn btn-primary mr-2" onclick="save()">Save</button>
        <!-- <button class="btn btn-secondary" data-bs-dismiss="modal" href="/home">Close</button> -->
         <button class="btn btn-secondary" type="button" onclick="window.location.href='/riskRegister'">
            Close
        </button>
    </div>
 </div>
</div>

<!-- Toast -->
<div class="toast position-fixed top-0 end-0 p-3 mt-5" id="toastMsg" style="z-index:9999!important;">
<div class="toast-body bg-success text-white"></div>
</div>

</div>     
<script>
//

//function validate() {
//
//    if (!sourceYear.value || !destinationYear.value) {
//        showToast("Please select Source Year and Destination Year", "bg-danger");
//        return false;
//    }
//
//    return true;
//  }

async function save() {
    const APP_DATA = {{ session_data | tojson }};
    console.log("APP_DATA", APP_DATA);
    const oldPassword = $("#oldpassword").val().trim();
    const newPassword = $("#newpassword").val().trim();
    const confirmPassword = $("#confirmpassword").val().trim();
    if (!oldPassword) {
        showToast("Old Password is required", "bg-danger");
        return;
    }

    if (!newPassword) {
        showToast("New Password is required", "bg-danger");
        return;
    }

    if (!confirmPassword) {
        showToast("Confirm Password is required", "bg-danger");
        return;
    }

    if (newPassword !== confirmPassword) {
        showToast("New Password and Confirm Password do not match", "bg-danger");
        return;
    }

    if (oldPassword === newPassword) {
        showToast("New Password must be different from Old Password", "bg-danger");
        return;
    }
    try {
       const data = {
                id: APP_DATA.userId,
                old_password: $("#oldpassword").val(),
                new_password: $("#newpassword").val()
           };
           console.log("data api pass", data);
       const response = await axios.post('/ChangePassword/UpdatePwd', data);

        console.log(response.data);

        if (response.data.Error.Error  === false) {
            clearForm();
            showToast(
                response.data.message ||
                "Password changed successfully"
            );
        } else {
            showToast(
               response.data.Error.Error_message ||
                "Failed to change password",
                "bg-danger"
            );
        }

    } catch (error) {
        console.error(error);
        showToast(
            "Failed to change password",
            "bg-danger"
        );
    } finally {
       // btn.disabled = false;
       // btn.innerText = "Proceed";
    }
}

function showToast(msg,cls="bg-success"){
  let toastEl=document.getElementById('toastMsg');
  toastEl.querySelector('.toast-body').innerText=msg;
  toastEl.querySelector('.toast-body').className="toast-body text-white "+cls;
  new bootstrap.Toast(toastEl).show();
}

function clearForm() {
    $("#oldpassword").val("");
    $("#newpassword").val("");
    $("#confirmpassword").val("");
}

</script>
    
{% endblock %}