{% extends "base.html" %}

{% block content %}

<script src="{{ url_for('static', filename='cdn/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='cdn/axios.min.js') }}"></script>
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6">
                <!-- <h3 class="mb-0">Risk Register</h3> -->
                  <span style="float:left; margin-right:20px">Risk Register</span>
        <!-- Title Icon Start -->
        <span>
            <a class="pl-5 navigate plus-icon-color" href="#" onclick="sessionStorage.removeItem('rrid')"><i class="bi bi-plus-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Risk"></i></a>
            <a class="pl-5 edit-icon-color" href="#"><i class="bi bi-pencil-square" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i></a>
            <a class="pl-5 delete-icon-color disabled" href="#"><i class="bi bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i></a>
            <a class="pl-5 export-icon-color" href="#" onclick="downloadExcel()"><i class="bi bi-file-earmark-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="Export"></i></a>

        </span>

              </div>
              <div class="col-sm-6">
                
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">

          

          <!--Start HR Risk-->
<div class="bd-example m-0 border-0 tab-content active" id="div1"> 
<table id="HrTable" class="table table-hover table-bordered" style="width: 100%;">
  <thead>
    <tr class="tb-head">
      <th scope="col">Risk ID</th>
      <th scope="col">Risk Name</th>
      <th width="25%" scope="col">Risk Description</th>
      <th width="1%" scope="col">Inherent Risk Level</th>
      <th width="25%" scope="col">Current Mitigation</th>
      <th width="1%" scope="col">Current Risk Level</th>
      <th scope="col">Risk Owner</th>
      
      <th width="25%" scope="col">Action Plan</th>
      
      <th width="1%" scope="col">Action</th>
      <th scope="col" style="visibility: hidden;">Id</th>
    </tr>
    </tr>
  </thead>
  <tbody></tbody>

</table> 
</div>  

<style>
  
    .tab-content {
      display: none;
      /* padding: 20px;
      border: 1px solid #ccc;
      margin-top: 10px; */
    }
    .tab-content.active {
      display: block;
    }
   
    .tab-btn { color:#000;}

    .tab-btn.active {
      background: #007bff!important;
      color: #fff!important;
    }

  </style>
  

<script>
  const APP_DATA = {{ session_data | tojson }};
</script>

<script>
  function downloadExcel() {
    return;
    axios.get('/exportExcel', {
        responseType: 'blob' ,  
        params: {
                    treatment_id:treatment_id
                }
    })
    .then(response => {
        const url = window.URL.createObjectURL(response.data);

        const a = document.createElement('a');
        a.href = url;
        a.download = "risk_register.xlsx";
        document.body.appendChild(a);
        a.click();
        a.remove();

        alert("File downloaded successfully!");
    })
    .catch(error => {
        console.error(error);
        alert("Download failed!");
    });

}

function openTab(evt, tabId) {

  document.querySelectorAll(".tab-content")
    .forEach(div => div.classList.remove("active"));

  document.querySelectorAll(".tab-btn")
    .forEach(btn => btn.classList.remove("active"));

  document.getElementById(tabId).classList.add("active");

  evt.currentTarget.classList.add("active");
}

$(document).ready(function () {
 
  GetAllRiskRegister(APP_DATA.userId);
});


function mergeRows(table, columns) {

    var api = table.api();
    var rows = api.rows({ page: 'current' }).nodes();

    columns.forEach(function (colIndex) {

        var lastValue = null;
        var lastGroupValue = null;
        var span = 1;

        api.column(colIndex, { page: 'current' }).data().each(function (value, i) {

            var currentRow = $(rows).eq(i);
            var currentGroupValue = currentRow.find('td').eq(0).text(); // FIRST COLUMN

            if (lastValue === value && lastGroupValue === currentGroupValue) {

                span++;

                currentRow.find('td').eq(colIndex).hide();

                $(rows).eq(i - span + 1).find('td').eq(colIndex)
                    .attr('rowspan', span);

            } else {

                span = 1;
                lastValue = value;
                lastGroupValue = currentGroupValue;

            }

        });

    });

}

function GetAllRiskRegister(treatment_id) {
  
  try {

    var api_url = "/GetUserTreatment"
    
    axios.get(api_url,{
        params: { treatment_id:treatment_id }
    })
    .then(response => {
        if (response.data.Error.Error === false) {
            var data = response.data.data;
            $('#HrTable').DataTable({
                destroy: true,
                data: data,
                order: [
                          [9, 'desc'],
                          [0, 'asc'],
                          [1, 'asc'],
                          [2, 'asc']
                      ],
                columns: [

                    { data: "risk_id" },
                    { data: "risk_name" },
                                       {
                      data: "risk_description",
                      render: function (data) {
                        if (!data) return "";
                        return data.replace(/\n/g, "<br>");
                      }
                    },
                    { data: "inherent_color_code" },
                   
                    {
                      data: "mitigation",
                      render: function (data) {
                        if (!data) return "";
                        return data.replace(/\n/g, "<br>");
                      }
                    },                                                  
                    { data: "current_color_code" },

                    { data: "risk_owner_name" },
                    { data: "action_plan"},
                    
                    {
                        data: "risk_treatment_id",
                        render: function (data, type, row) {
                            return `
                           
                            <a href="#"><i class="bi bi-pencil-square edit-icon-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" onclick="getTreatmentbyid(${data}, ${row.risk_description_id}, ${row.risk_register_id})"></i></a>
                            
                            `;
                        }
                    },
                    
                    {
                      data: "risk_treatment_id",
                      visible: false
                    }
                ],
                 drawCallback: function () {
                    var table = $('#HrTable').DataTable();
                    
                    $('#HrTable tbody td').show().removeAttr('rowspan');
                    mergeRows(this, [0,1,6,7,8,9]);
              },
              

    createdRow: function (row, data) {

        $('td:eq(3)', row).css({
            'background-color': data.inherent_color_str,
            'color': 'black',
            'font-weight': 'bold',
            'text-align': 'center'
        });

        $('td:eq(5)', row).css({
            'background-color': data.current_color_str,
            'color': 'black',
            'font-weight': 'bold',
            'text-align': 'center'
        });

    }

            });
        } else {
            showToast(response.data.Error.Error_message);
        }
      })
      .catch(error => {
          showToast("Failed to load departments");
      });
    } catch (error) {
    console.log("An error occurred:", error.message);
  }
}

function getTreatmentbyid(rtid, rdid, rrid) {
    
    sessionStorage.setItem("risk_treatment_id", rtid);
    sessionStorage.setItem("risk_description_id", rdid);
    sessionStorage.setItem("risk_register_id", rrid);
    window.location.href = "/riskActionPlan";
}

</script>

          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      
    
{% endblock %}