<script>
  function getApprovalHistory(id) {
   //alert("rrrr alll");
    axios.get("/getApprovalHistorybyRiskId getRiskRegisterbyid_all", {
        params: { RiskRegister_id:id }
    })
        .then(response => {
               console.log("response", response);

        if (response.data.Error.Error === false) {
          
                  let tableBody = "";
                
                  tableBody += `
                      <tr data-level="1">
                          <td>Functional Head</td>
                          <td>${datas.risk_function_head_approval_by_name ?? ""}</td>
                          <td>${formatDate(datas.risk_function_head_approval_on)}</td>
                          <td>${datas.risk_function_head_approval_status_name ?? ""}</td>
                          <td>${datas.risk_function_head_approval_remark ?? ""}</td>
                      </tr>
                  `;
                   
                    
                  tableBody += `
                      <tr data-level="3">
                          <td>Risk Manager</td>
                          <td>${datas.risk_manager_approval_by_name ?? ""}</td>
                          <td>${formatDate(datas.risk_manager_approved_on)}</td>
                          <td>${datas.risk_manager_approval_status_name ?? ""}</td>
                          <td>${datas.risk_manager_approval_remark ?? ""}</td>
                         
                      </tr>
                  `;
                  tableBody += `
                      <tr data-level="2">
                          <td>Risk Head</td>
                          <td>${datas.risk_head_approval_by_name ?? ""}</td>
                          <td>${formatDate(datas.risk_head_approved_on)}</td>
                          <td>${datas.risk_head_approval_status_name ?? ""}</td>
                          <td>${datas.risk_head_approval_remark ?? ""}</td>
                         
                      </tr>
                  `;
                     // <td align="center">
                          //     <a href="#"><i class="bi bi-clock-history history-icon-color" data-bs-toggle="tooltip" data-bs-placement="top" title="History"></i></a>
                          // </td>
                  $("#dtApprovalStatus tbody").html(tableBody);

        } else {
            showToast(response.data.Error.Error_message);
        }
        })
        .catch(error => {
            showToast("Failed to load history");
        })
        .finally(() => {
        });
  }
</script>